/* Reset styles for consistent rendering */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'avenir', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #2c3e50;
    text-align: center;
    padding: 10px 0;
}

h2 {
    color: #34495e;
    padding: 10px 0;
}

p {
    line-height: 1.6;
    color: #7f8c8d;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
}

.contact {
    text-align: right;
    padding: 10px 0;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* spacing between images */
}

.image-container img {
    width: 50%; /* half the size */
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto; /* centering */
}

#pizlogo-image {
    width: 80.5%; /* Original size (50%) + 25% increase */
}

/* Flexbox for centering */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    p, h1, h2 {
        padding: 5px 0;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5px;
    }
    h1, h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}
